body {
  background-color: #f6f6f6;
}
.con {
  padding-top: 0;
}
.title {
  background-color: transparent;
}
.title .back {
  background-image: url(../img/back_bai@2x.png);
}
.title .h1 {
  color: #fff;
}
.top {
  background-image: url(../img/account.png);
  background-color: #FF6F19;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 0.72rem;
  height: 2.56rem;
  margin-bottom: 0.08rem;
}
.top h3,
.top p {
  text-align: center;
}
.top h3 {
  font-size: 0.24rem;
  line-height: 0.24rem;
  color: #fff;
  position: relative;
  left: -0.07rem;
}
.top h3 span {
  font-size: 0.12rem;
}
.top p {
  line-height: 0.32rem;
  font-size: 0.12rem;
  opacity: 0.5;
  color: #fff;
  margin-bottom: 0.13rem;
}
.cash {
  height: 1.18rem;
  background-color: #fff;
  border-radius: 0.1rem;
  padding: 0 0.17rem;
}
.cash h5 {
  line-height: 0.62rem;
  color: #262626;
  font-size: 0.16rem;
}
.cash b {
  font-size: 0.2rem;
  color: #333;
  font-weight: bold;
  line-height: 0.2rem;
  float: left;
}
.cash .input {
  width: 2.48rem;
  border-bottom: 1px solid #ececec;
  padding-bottom: 0.09rem;
  overflow: hidden;
}
.cash input {
  font-size: 0.2rem;
  height: 0.2rem;
  line-height: 0.2rem;
  float: left;
  padding-left: 0.12rem;
  caret-color: #0057FF;
  width: 2rem;
}
.cash ::-webkit-input-placeholder {
  font-size: 0.2rem;
  line-height: 0.2rem;
  colo: #999;
}
.cash ::-moz-placeholder {
  font-size: 0.2rem;
  line-height: 0.2rem;
  colo: #999;
}
.cash :-ms-input-placeholder {
  font-size: 0.2rem;
  line-height: 0.2rem;
  colo: #999;
}
.list p {
  line-height: 0.3rem;
  font-size: 0.12rem;
  color: #999;
  padding: 0 0.17rem;
}
.list ol {
  background-color: #fff;
  border-radius: 0.1rem;
  line-height: 0.3rem;
  padding: 0.1rem 0.13rem;
}
.list ol li {
  overflow: hidden;
}
.list ol span {
  font-size: 0.13rem;
  color: #999;
  float: left;
}
.list ol b {
  float: right;
  font-size: 0.13rem;
  color: #333;
}
.btn {
  position: fixed;
  width: 100%;
  height: 0.5rem;
  background-color: #fff;
  left: 0;
  bottom: 0;
}
.btn a {
  width: 3.12rem;
  height: 0.36rem;
  border-radius: 0.18rem;
  color: #fff;
  text-align: center;
  display: block;
  margin: 0.07rem auto;
  background-color: #FE701B;
  font-size: 0.14rem;
  line-height: 0.36rem;
}
.pop-account {
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top-left-radius: 0.1rem;
  border-top-right-radius: 0.1rem;
}
.pop-account h3,
.pop-account ol {
  padding: 0 0.13rem;
}
.pop-account h3 {
  line-height: 0.7rem;
  color: #333;
  font-size: 0.16rem;
}
.pop-account li {
  line-height: 0.24rem;
  font-size: 0.14rem;
  color: #333;
  margin-bottom: 0.22rem;
}
.pop-account li b {
  width: 0.24rem;
  height: 0.24rem;
  float: left;
  margin-right: 0.09rem;
}
.pop-account li b img {
  width: 100%;
  display: block;
}
.pop-account li span {
  float: right;
  width: 0.24rem;
  height: 0.24rem;
  background-image: url(../img/sex.png);
  background-size: cover;
}
.pop-account li.act span {
  background-image: url(../img/sex_act.png);
}
.pop-account ol {
  min-height: 0.98rem;
}
.pop-account a {
  line-height: 0.5rem;
  border-top: 1px solid #ececec;
  text-align: center;
  color: #333;
  font-size: 0.16rem;
  display: block;
}
.pop-nopay,
.pop-ok {
  background-color: #fff;
  border-radius: 0.05rem;
  top: 27%;
  position: absolute;
  left: 50%;
  font-size: 0.15rem;
  color: #333;
  text-align: center;
  overflow: hidden;
}
.pop-nopay img,
.pop-ok img {
  display: block;
  margin: 0 auto;
}
.pop-nopay {
  margin-left: -1.37rem;
  width: 2.74rem;
}
.pop-nopay img {
  width: 0.3rem;
  height: 0.3rem;
  margin-top: 0.35rem;
  margin-bottom: 0.18rem;
}
.pop-nopay a {
  display: block;
  width: 100%;
  line-height: 0.44rem;
  color: #0057FF;
  font-size: 0.14rem;
  font-weight: bold;
  background-color: #F6F6F6;
  margin-top: 0.36rem;
}
.pop-ok {
  margin-left: -0.93rem;
  width: 1.86rem;
  height: 1.56rem;
}
.pop-ok img {
  width: 0.4rem;
  height: 0.4rem;
  margin-top: 0.39rem;
  margin-bottom: 0.19rem;
}
