body {
  padding-top: 0.4rem;
  background-color: #f6f6f6;
}
.banner {
  height: 1.84rem;
}
.banner .swiper-slide {
  border-radius: 0;
}
.banner .swiper-slide img {
  height: 100%;
  width: auto;
}
.banner .swiper-pagination {
  bottom: 0.27rem !important;
  text-align: right;
  padding-right: 0.2rem;
}
.con {
  position: relative;
  top: -0.2rem;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  z-index: 1;
  overflow: hidden;
}
.details-info {
  margin-bottom: 0.1rem;
  background-color: #fff;
}
.details-info > div {
  overflow: hidden;
  padding: 0 0.1rem;
}
.details-info .info-title {
  height: 0.56rem;
  background-image: url(../img/details1.png);
  background-size: cover;
  padding-top: 0.18rem;
  padding-left: 0.14rem;
  color: #fff;
  font-size: 0.16rem;
  font-weight: bold;
  line-height: 0.16rem;
}
.details-info .info-price {
  height: auto;
  border-top-left-radius: 0.1rem;
  border-top-right-radius: 0.1rem;
  position: relative;
  top: -0.09rem;
  z-index: 1;
  background-color: #fff;
  margin-bottom: -0.09rem;
}
.details-info .info-price > div {
  float: left;
  width: 100%;
}
.details-info .info-price .part01 {
  padding-bottom: 0.08rem;
  overflow: hidden;
}
.details-info .info-price .part01 b {
  float: left;
  line-height: 0.16rem;
  border-radius: 0.08rem;
  color: #fff;
  padding: 0 0.05rem;
  font-size: 0.12rem;
  margin-right: 0.03rem;
  background: -webkit-linear-gradient(left, #FED73B, #FF9C00);
  background: -o-linear-gradient(right, #FED73B, #FF9C00);
  background: -moz-linear-gradient(right, #FED73B, #FF9C00);
  background: linear-gradient(to right, #FED73B, #FF9C00);
  margin-top: 0.13rem;
}
.details-info .info-price .part01 .collect {
  float: right;
  font-size: 0.14rem;
  color: #A2A1A1;
  transition: all 0.1s;
  line-height: 0.24rem;
  position: relative;
  padding-left: 0.24rem;
  margin-top: 0.09rem;
}
.details-info .info-price .part01 .collect span {
  width: 0.24rem;
  height: 0.24rem;
  background-image: url(../img/shoucang_default@2x.png);
  background-size: cover;
  position: absolute;
  left: -0.02rem;
  top: -0.02rem;
}
.details-info .info-price .part01 .collect.act {
  color: #333;
}
.details-info .info-price .part01 .collect.act span {
  background-image: url(../img/shoucangxuanzhong_selected@2x.png);
}
.details-info .info-price .part02 {
  width: 50%;
  height: 0.6rem;
}
.details-info .info-price .part02 > div {
  overflow: hidden;
}
.details-info .info-price .part03 {
  width: 50%;
  height: 0.6rem;
  text-align: right;
}
.details-info .info-price .part03 p {
  font-size: 0.12rem;
  color: #333;
  padding-top: 0.09rem;
  line-height: 0.12rem;
  padding-bottom: 0.12rem;
}
.details-info .info-price .part03 .time {
  color: #FF5114;
  overflow: hidden;
  position: relative;
  right: -0.04rem;
  font-size: 0.12rem;
}
.details-info .info-price .part03 .time li {
  float: right;
  width: 0.2rem;
  height: 0.2rem;
  line-height: 0.22rem;
  text-align: center;
}
.details-info .info-price .part03 .time .num {
  background-color: #FF5114;
  color: #fff;
  text-align: center;
  border-radius: 0.04rem;
  font-weight: bold;
}
.details-info .info-price .part04 {
  color: #666;
  font-size: 0.12rem;
  line-height: 0.18rem;
  background-color: #f6f6f6;
  padding: 0.14rem;
  text-align: justify;
  margin-top: 0.1rem;
  position: relative;
}
.details-info .info-price .part04::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px 6px 10px 6px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6;
  left: 0.38rem;
  top: -0.18rem;
}
.details-info .info-price .parice1,
.details-info .info-price .parice2,
.details-info .info-price .parice3 {
  float: left;
}
.details-info .info-price .parice1 {
  font-size: 0.12rem;
  color: #FF5114;
}
.details-info .info-price .parice2 {
  font-size: 0.16rem;
  font-weight: bold;
  color: #FF5114;
}
.details-info .info-price .parice3 {
  font-size: 0.12rem;
  color: #FF5114;
}
.details-info .info-price .parice4,
.details-info .info-price .parice5 {
  font-size: 0.12rem;
  display: block;
  line-height: 0.16rem;
}
.details-info .info-price .parice4 {
  color: #333;
  margin-top: 0.09rem;
}
.details-info .info-price .parice5 {
  text-decoration: line-through;
  color: #999;
}
.details-info .info-address {
  width: 3.55rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  border-bottom: 1px solid #eee;
  padding: 0;
}
.details-info .info-address p {
  font-size: 0.14rem;
  color: #1f1f1f;
  position: relative;
  padding-left: 0.16rem;
}
.details-info .info-address p::before {
  content: "";
  width: 0.16rem;
  height: 0.16rem;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -0.09rem;
}
.details-info .info-comment p {
  color: #FF5114;
  font-size: 0.12rem;
}
.details-info .info-comment p em {
  font-size: 0.18rem;
  font-weight: bold;
}
.details-info .info-address,
.details-info .info-comment {
  line-height: 0.42rem;
  height: 0.42rem;
}
.details-info .info-address p,
.details-info .info-comment p {
  float: left;
}
.details-info .info-address a,
.details-info .info-comment a {
  float: right;
  font-size: 0.12rem;
  color: #999;
  position: relative;
  padding-right: 0.11rem;
}
.details-info .info-address a::after,
.details-info .info-comment a::after {
  content: "";
  width: 0.24rem;
  height: 0.24rem;
  background-image: url(../img/gengduo@2x.png);
  background-size: cover;
  display: block;
  position: absolute;
  right: -0.09rem;
  top: 0.09rem;
}
.details-info .info-address p::before {
  background-image: url(../img/dingweiweizhi@2x.png);
}
.details-tab {
  background-color: #fff;
  height: 0.57rem;
  overflow: hidden;
  padding-bottom: 0.15rem;
  left: 0;
  top: 0.4rem;
  width: 100%;
  z-index: 1;
}
.details-tab li {
  float: left;
  width: 33.3%;
  line-height: 0.4rem;
  height: 0.4rem;
  font-size: 0.12rem;
  color: #1f1f1f;
  text-align: center;
  border-bottom: 1px solid #eee;
  position: relative;
}
.details-tab li::before,
.details-tab li::after {
  display: none;
}
.details-tab li::before {
  content: "";
  position: absolute;
  width: 0.22rem;
  height: 0.02rem;
  background: #0084FF;
  left: 50%;
  margin-left: -0.11rem;
  bottom: 0;
}
.details-tab li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px 6px 10px 6px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6;
  left: 0.56rem;
  bottom: -0.18rem;
}
.details-tab li.act::before,
.details-tab li.act::after {
  display: block;
}
.details-con img {
  max-width: 100%;
}
.details-con p {
  padding: 0 0.1rem;
}
.binding {
  width: 100%;
  height: 0.48rem;
  position: fixed;
  left: 0;
  bottom: 0;
  box-shadow: 0 0 0.2rem rgba(85, 85, 85, 0.3);
  z-index: 10;
  background-color: #fff;
}
.binding .share {
  float: left;
  width: 25%;
  color: #333;
  font-size: 0.12rem;
  text-align: center;
  padding-top: 0.03rem;
}
.binding .share span {
  display: block;
  width: 0.24rem;
  height: 0.24rem;
  margin: 0 auto;
}
.binding .share span img {
  width: 100%;
  display: block;
}
.binding a {
  float: right;
  line-height: 0.48rem;
  height: 0.48rem;
  background-color: #FF3600;
  text-align: center;
  color: #fff;
  width: 75%;
}
