body{
    padding-top: .4rem;
    background-color: #f6f6f6;
}
.banner{
    height: 1.84rem;
    .swiper-slide{
        border-radius: 0;
        img{
            height: 100%;
            width: auto;;
        }
    }
    .swiper-pagination {
        bottom: .27rem!important;
        text-align: right;
        padding-right: .2rem;
    }
}
.con{
    position: relative;
    top:-0.2rem;
    border-top-left-radius:0.2rem;
    border-top-right-radius:0.2rem;
    z-index: 1;
    overflow: hidden;
}
.details-info{
    .info-price{
        height: auto;
        border-top-left-radius: .1rem;
        border-top-right-radius: .1rem;
        position: relative;
        top: -0.09rem;
        z-index: 1;
        background-color: #fff;
        margin-bottom: -0.09rem;
        >div{
            float: left;
            width: 100%;
        }
        .part01{
            padding-bottom: .08rem;
            overflow: hidden;
            b{
                float: left;
                line-height: .16rem;
                border-radius: .08rem;
                color: #fff;
                padding: 0 .05rem;
                font-size: .12rem;
                margin-right: .03rem;
                background:-webkit-linear-gradient(left,#FED73B,#FF9C00);
                background:-o-linear-gradient(right,#FED73B,#FF9C00);
                background:-moz-linear-gradient(right,#FED73B,#FF9C00);
                background:linear-gradient(to right,#FED73B,#FF9C00);
                margin-top: 0.13rem;
            }
            .collect{
                float: right;
                font-size: .14rem;
                color: #A2A1A1;
                transition: all 0.1s;
                line-height: .24rem;
                position: relative;
                padding-left: .24rem;
                margin-top: .09rem;
                span{
                    width: .24rem;
                    height: .24rem;
                    background-image: url(../img/shoucang_default@2x.png);
                    background-size: cover;
                    position: absolute;
                    left: -0.02rem;
                    top: -0.02rem;
                }
                &.act{
                    color: #333;
                    span{
                        background-image: url(../img/shoucangxuanzhong_selected@2x.png);
                    }
                }
            }
        }
        .part02{
            width: 50%;
            height: .6rem;
            >div{
                overflow: hidden;
            }
        }
        .part03{
            width: 50%;
            height: .6rem;
            text-align: right;
            p{
                font-size: .12rem;
                color: #333;
                padding-top: .09rem;
                line-height: .12rem;
                padding-bottom: .12rem;
            }
            .time{
                color: #FF5114;
                overflow: hidden;
                position: relative;
                right: -0.04rem;
                font-size: .12rem;
                li{
                    float: right;
                    width: .2rem;
                    height: .2rem;
                    line-height: .22rem;
                    text-align: center;
                }
                .num{
                    background-color: #FF5114;
                    color: #fff;
                    text-align: center;
                    border-radius: .04rem;
                    font-weight: bold;
                }

            }
        }
        .part04{
            color: #666;
            font-size: .12rem;
            line-height: .18rem;
            background-color: #f6f6f6;
            padding: .14rem;
            text-align: justify;
            margin-top: .1rem;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-width: 10px 6px 10px 6px;
                border-style: solid;
                border-color: transparent transparent #f6f6f6;
                left: .38rem;
                top: -0.18rem;
            }
        }
        .parice1,.parice2,.parice3{
            float: left;
        }
        .parice1{
            font-size: .12rem;
            color: #FF5114;
        }
        .parice2{
            font-size: .16rem;
            font-weight: bold;
            color: #FF5114;
        }
        .parice3{
            font-size: .12rem;
            color: #FF5114;
        }
        .parice4,.parice5{
            font-size: .12rem;
            display: block;
            line-height: .16rem;
        }
        .parice4{
            color: #333;
            margin-top: .09rem;
        }
        .parice5{
            text-decoration:line-through;
            color: #999;
        }
    }
}
.details-tab{
    background-color: #fff;
    height: .57rem;
    overflow: hidden;
    padding-bottom: .15rem;
    left: 0;
    top:0.4rem;
    width: 100%;
    z-index: 1;
    li{
        float: left;
        width: 33.3%;
        line-height: .4rem;
        height: .4rem;
        font-size: .12rem;
        color: #1f1f1f;
        text-align: center;
        border-bottom: 1px solid #eee;
        position: relative;
        &::before,&::after{
            display: none;
        }
        &::before{
            content: "";
            position: absolute;
            width: .22rem;
            height: .02rem;
            background:#0084FF;
            left: 50%;
            margin-left: -0.11rem;
            bottom: 0;
        }
        &::after{
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-width: 10px 6px 10px 6px;
            border-style: solid;
            border-color: transparent transparent #f6f6f6;
            left: .56rem;
            bottom: -0.18rem;
        }
        &.act{
            &::before,&::after{
                display: block;
            }
        }
    }
}
.details-con{
    background-color: #fff;
    padding-bottom: .15rem;
    img{
        max-width: 100%;
    }
    p{
        padding: 0 .1rem;
    }
    .details-area{
        color: #666;
        font-size: 0.12rem;
        line-height: 0.18rem;
        background-color: #f6f6f6;
        padding: 0.14rem;
        text-align: justify;
        width: 3.55rem;
        margin:0 auto;
    }
}
.binding{
    width: 100%;
    height: .48rem;
    position: fixed;
    left: 0;
    bottom: 0;
    box-shadow: 0 0 .2rem rgba(85, 85, 85, 0.3);
    z-index: 10;
    background-color: #fff;
    .share{
        float: left;
        width: 25%;
        color: #333;
        font-size: .12rem;
        text-align: center;
        padding-top: .03rem;
        span{
            display: block;
            width: .24rem;
            height: .24rem;
            margin: 0 auto;
            img{
                width: 100%;
                display: block;
            }
        }
    }
    a{
        float: right;
        line-height: .48rem;
        height: .48rem;
        background-color:#FF3600;
        text-align: center;
        color: #fff;
        width: 75%;
    }
}
.shop{
    .details-info .info-title{
        background-image: none;
        color: #333;
    }
    .details-info .info-address{
        border:0;
        border-top:1px solid #eee;
    }
    .details-tab{
        li{
            width: 100%;
        }
        .act::before{
            display: none!important;
        }
        .act::after{
            left: 50%;
            margin-left: -0.06rem;
        }
    }
    .details-info .info-address a{
        padding-right: .22rem;
        color: #0057FF;
        &::after{
            content: '';
            position: absolute;
            right: 0;
            top:50%;
            margin-top: -0.12rem;
            background-image: url(../img/dingwei-blue@2x.png);
            background-size: cover;
            width: .24rem;
            height: .24rem;
        }
    }
}