body {
  background-color: #f6f6f6;
  padding-top: 0.4rem;
}
.title {
  background-color: #fff;
  box-shadow: 0 0 0.2rem rgba(85, 85, 85, 0.3);
}
.sort {
  position: fixed;
  right: 0;
  top: 1rem;
}
.sort a {
  width: 0.2rem;
  display: block;
  font-size: 0.12rem;
  color: #696969;
  line-height: 0.14rem;
  text-align: center;
}
.list {
  padding-bottom: 0.7rem;
}
.list-item h2 {
  font-size: 0.12rem;
  color: #696969;
  line-height: 0.22rem;
  padding: 0 0.12rem;
  font-weight: normal;
}
.list-item ul {
  background: #fff;
  padding: 0 0.24rem 0 0.12rem;
}
.list-item li {
  line-height: 0.4rem;
  border-bottom: 1px solid #ececec;
  font-size: 0.14rem;
  color: #272727;
}
.list-item li:last-child {
  border-bottom: 0;
}
