.con {
  padding-bottom: 0.7rem;
}
/* 底部导航 */
#bar {
  position: fixed;
  width: 100%;
  height: 0.5rem;
  left: 0;
  bottom: 0;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.32);
  font-size: 0.1rem;
  text-align: center;
  background-color: #fff;
  z-index: 10;
}
#bar a {
  color: #bbb;
  display: block;
  height: 0.5rem;
  padding-top: 0.07rem;
}
#bar li {
  float: left;
  width: 25%;
}
#bar li.act em {
  color: #333333;
  font-weight: bold;
}
#bar span,
#bar em {
  display: block;
}
#bar span {
  width: 0.23rem;
  height: 0.24rem;
  margin: 0 auto;
  margin-bottom: 0.015rem;
  background-size: contain;
  background-repeat: no-repeat;
}
#bar em {
  line-height: 0.175rem;
}
.to-home span {
  background-image: url(../img/home_hui@2x.png);
}
.to-home.act span {
  background-image: url(../img/home@2x.png);
}
.to-service span {
  background-image: url(../img/service_hui@2x.png);
}
.to-service.act {
  spanbackground-image: url(../img/service@2x.png);
}
.to-order span {
  background-image: url(../img/dingdan_hui@2x.png);
}
.to-order.act {
  spanbackground-image: url(../img/dingdan@2x.png);
}
.to-me span {
  background-image: url(../img/account_hui@2x.png);
}
.to-me.act span {
  background-image: url(../img/account@2x.png);
}
/* banner */
.banner .swiper-slide {
  width: 3.2rem;
  background-color: #F6F6F6;
  border-radius: 0.1rem;
  background-image: url(../img/zhanweitu1@2x.png);
  background-position: center;
  background-size: contain;
  background-color: #f6f6f6;
  overflow: hidden;
  transition: all 0.2s;
}
.banner .swiper-slide img {
  display: block;
  width: 100%;
}
.banner .swiper-pagination {
  bottom: 0.06rem !important;
}
.banner .swiper-pagination-bullet {
  width: 0.06rem;
  height: 0.06rem;
  margin: 0 0.0225rem !important;
  opacity: 0.5;
  background-color: #fff;
}
.banner .swiper-pagination-bullet-active {
  background: #fff;
  width: 0.125rem;
  border-radius: 0.03rem;
  opacity: 1;
}
/* 卡片信息 */
.cardlist ol {
  overflow: hidden;
  padding: 0 0.07rem;
}
.cardlist ol li {
  float: left;
  margin: 0 0.04rem 0.1rem 0.04rem;
}
.card {
  width: 1.72rem;
  background-color: #fff;
  border-radius: 0.1rem;
}
.card .img {
  position: relative;
}
.card .pic {
  border-radius: 0.1rem;
  height: 1.72rem;
  background: url('../img/zhanweitu2@2x.png');
  background-size: cover;
  overflow: hidden;
}
.card .pic img {
  display: block;
  width: 100%;
}
.card a {
  display: block;
}
.card .label {
  width: 0.575rem;
  height: 0.2rem;
  position: absolute;
  left: 0.09rem;
  top: 0.1rem;
  z-index: 1;
  background-repeat: no-repeat;
}
.card .label img {
  display: block;
  width: 100%;
}
.card .info {
  padding: 0 0.075rem;
}
.card h3 {
  padding-top: 0.13rem;
  padding-bottom: 0.11rem;
  font-size: 0.16rem;
  line-height: 0.16rem;
  color: #1e1e1e;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card .num {
  font-size: 0.12rem;
  line-height: 0.13rem;
  overflow: hidden;
}
.card .num em,
.card .num span {
  float: left;
}
.card .num em {
  color: #FDB602;
}
.card .num span {
  color: #999999;
  border-left: 1px solid #999999;
  margin-left: 0.1rem;
  padding-left: 0.1rem;
}
.card .price {
  line-height: 0.5rem;
  overflow: hidden;
}
.card .price .rmb {
  float: left;
  color: #FE3647;
  font-weight: bold;
  height: 0.5rem;
}
.card .price b {
  font-size: 0.1rem;
}
.card .price em {
  font-size: 0.16rem;
}
.card .price span {
  float: right;
  font-size: 0.1rem;
  color: #999;
}
/* 搜索 */
.home-search {
  height: 0.5rem;
  background-color: #0057FF;
  padding: 0.1rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
.home-search .input {
  width: 84%;
  height: 0.3rem;
  background-color: #669AFF;
  margin: 0 auto;
  border-radius: 0.15rem;
  text-align: center;
  position: relative;
}
.home-search a {
  background-color: rgba(0, 0, 0, 0);
  font-size: 0.12rem;
  line-height: 0.3rem;
  display: inline-block;
  text-align: center;
  color: #fff;
  vertical-align: middle;
  position: relative;
}
.home-search .icon {
  width: 0.16rem;
  height: 0.16rem;
  display: inline-block;
}
/* title */
.title {
  width: 100%;
  min-height: 0.4rem;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: #fff;
  transition: all 0.2s;
}
.title .back,
.title .fenxiang,
.title .more {
  width: 0.24rem;
  height: 0.24rem;
  top: 0.08rem;
  background-size: cover;
  position: absolute;
}
.title .back {
  background-image: url(../img/fanhui@2x.png);
  left: 0.05rem;
}
.title .fenxiang {
  background-image: url(../img/fenxiang@2x.png);
  right: 0.05rem;
}
.title .dingwei {
  right: 0.08rem;
  top: 0;
  position: absolute;
  line-height: 0.4rem;
}
.title .dingwei::before {
  content: "";
  width: 0.24rem;
  height: 0.24rem;
  position: absolute;
  left: -0.2rem;
  top: 0.075rem;
  background-image: url(../img/ding_bai.png);
  background-size: cover;
}
.title .more {
  background-image: url(../img/more.png);
  right: 0.05rem;
}
.title .h1 {
  line-height: 0.4rem;
  text-align: center;
  font-size: 0.16rem;
  color: #333;
}
.title .color-7ff {
  float: right;
  color: #0057FF;
  font-size: 0.14rem;
  line-height: 0.4rem;
  position: absolute;
  right: 0.13rem;
  top: 0;
}
.details-info {
  margin-bottom: 0.1rem;
  background-color: #fff;
}
.details-info > div {
  overflow: hidden;
  padding: 0 0.1rem;
}
.details-info .info-title {
  height: 0.56rem;
  background-image: url(../img/details1.png);
  background-size: cover;
  padding-top: 0.18rem;
  padding-left: 0.14rem;
  color: #fff;
  font-size: 0.16rem;
  font-weight: bold;
  line-height: 0.16rem;
}
.details-info .info-address {
  width: 3.55rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  border-bottom: 1px solid #eee;
  padding: 0;
}
.details-info .info-address p {
  font-size: 0.14rem;
  color: #1f1f1f;
  position: relative;
  padding-left: 0.16rem;
}
.details-info .info-address p::before {
  content: "";
  width: 0.16rem;
  height: 0.16rem;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -0.09rem;
}
.details-info .info-address,
.details-info .info-comment {
  line-height: 0.42rem;
  height: 0.42rem;
}
.details-info .info-address p,
.details-info .info-comment p {
  float: left;
}
.details-info .info-address a,
.details-info .info-comment a {
  float: right;
  font-size: 0.12rem;
  color: #999;
  position: relative;
  padding-right: 0.11rem;
  color: #7FABFF;
}
.details-info .info-address a::after,
.details-info .info-comment a::after {
  content: "";
  width: 0.24rem;
  height: 0.24rem;
  background-image: url(../img/gengduo@2x.png);
  background-size: cover;
  display: block;
  position: absolute;
  right: -0.09rem;
  top: 0.09rem;
}
.details-info .info-address p::before {
  background-image: url(../img/dingweiweizhi@2x.png);
}
.arrow {
  width: 0.24rem;
  height: 0.24rem;
  background-image: url(../img/fanhui_hui@2x.png);
  background-size: cover;
  position: absolute;
  right: 0.01rem;
  top: 50%;
  margin-top: -0.12rem;
}
.arrow.open {
  background-image: url(../img/xiala@2x.png);
}
.num-handle {
  width: 0.84rem;
  height: 0.24rem;
  line-height: 0.22rem;
  border-radius: 0.05rem;
  border: 1px solid #ececec;
  padding: 0.01rem;
  text-align: center;
  font-size: 0.14rem;
}
.num-handle span {
  width: 0.2rem;
  height: 0.2rem;
  line-height: 0.2rem;
  text-align: center;
  border-radius: 0.05rem;
  float: left;
  background-color: #ECECEC;
  color: #333;
}
.num-handle input {
  float: left;
  width: 0.39rem;
  line-height: 0.2rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  font-size: 0.14rem;
}
.num-handle .sub {
  float: left;
}
.num-handle .add {
  float: right;
}
.num-handle .none {
  color: #939393;
}
.total {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #2C2F34;
}
.total .dou,
.total .balance {
  height: 0.4rem;
  font-size: 0.16rem;
  padding: 0 0.19rem;
}
.total .dou em,
.total .balance em {
  float: left;
  line-height: 0.4rem;
}
.total .balance {
  background-color: #BCE7BD;
  color: #6CC764;
}
.total .balance p {
  float: right;
  line-height: 0.4rem;
}
.total .balance p input {
  width: 0.85rem;
  height: 0.32rem;
  line-height: 0.32rem;
  font-size: 0.16rem;
  border-radius: 0.06rem;
  color: #333;
  padding: 0 0.1rem;
}
.total .dou {
  background-color: #FDECD0;
  color: #FEAD2D;
}
.total .dou span {
  color: #FE4234;
  border: 1px solid #FE4234;
  font-size: 12px;
  padding: 0 0.02rem;
  border-radius: 0.02rem;
  line-height: 0.18rem;
  height: 0.2rem;
  margin-left: 0.1rem;
  margin-top: 0.1rem;
}
.total .dou span {
  float: left;
}
.total .dou b {
  float: right;
  line-height: 0.4rem;
}
.total .rmb {
  height: 0.5rem;
  padding: 0.09rem 0.15rem 0.09rem 0.19rem;
}
.total .rmb a {
  background-color: #FCB74A;
  color: #fff;
  font-size: 0.16rem;
  line-height: 0.3rem;
  text-align: center;
  float: right;
  width: 0.94rem;
  border-radius: 0.05rem;
}
.total .rmb span {
  font-size: 0.22rem;
  color: #FC704A;
  font-weight: bold;
  float: left;
}
.total .rmb span i {
  font-size: 0.12rem;
}
