.con{
    padding-bottom: 0.7rem;
}

/* 底部导航 */
#bar{
    position: fixed;
    width: 100%;
    height: .5rem;
    left: 0;
    bottom: 0;
    box-shadow: 0 0 .2rem rgba(0,0,0,0.32);
    font-size: .1rem;
    text-align: center;
    background-color: #fff;
    z-index: 1;
    a{
        color: #bbb;
        display: block;
        height: .5rem;
        padding-top: .07rem;
    }
    li{
        float: left;
        width:25%;
        &.act{
            em{
                color: #333333;
                font-weight: bold;
            }
        }
    }
    span,em{
        display: block;
    }
    span{
        width: .23rem;
        height: .24rem;
        margin: 0 auto;
        margin-bottom: .015rem;
        background-size: contain;
        background-repeat: no-repeat;
    }
    em{
        line-height: .175rem;
    }
}
.to-home{
    span{
        background-image: url(../img/home_hui@2x.png);
    }
    &.act span{
        background-image: url(../img/home@2x.png);
    }
}
.to-service{
    span{
        background-image: url(../img/service_hui@2x.png);
    }
    &.act{ span
        background-image: url(../img/service@2x.png);
    }
}
.to-order{
    span{
        background-image: url(../img/dingdan_hui@2x.png);
    }
    &.act{ span
        background-image: url(../img/dingdan@2x.png);
    }
}
.to-me{
    span{
        background-image: url(../img/account_hui@2x.png);
    }
    &.act span{
        background-image: url(../img/account@2x.png);
    }
}

