/* 搜索 */
.search {
  height: 0.305rem;
  margin-bottom: 0.1rem;
}
.search .input {
  width: 84%;
  height: 0.3rem;
  background-color: #669AFF;
  margin: 0 auto;
  border-radius: 0.15rem;
  text-align: center;
  position: relative;
}
.search p {
  background-color: rgba(0, 0, 0, 0);
  font-size: 0.12rem;
  line-height: 0.3rem;
  display: inline-block;
  width: 42%;
  text-align: center;
  color: #fff;
  vertical-align: middle;
}
.search .icon {
  width: 0.15rem;
  height: 0.15rem;
  display: inline-block;
}
/* banner */
.banner {
  margin-bottom: 0.2rem;
}
.banner .swiper-wrapper {
  height: 1.485rem;
}
.banner .swiper-slide {
  background-color: #F6F6F6;
  border-radius: 0.1rem;
  width: 2.89rem;
  height: 89%;
  position: relative;
  top: 5.5%;
  background-image: url(../img/zhanweitu1@2x.png);
  background-size: contain;
  overflow: hidden;
  transition: all 0.2s;
}
.banner .swiper-slide img {
  display: block;
  width: 100%;
}
.banner .swiper-slide-active {
  width: 3.2rem;
  height: 100%;
  top: 0;
}
.banner .swiper-pagination {
  bottom: 0.06rem !important;
}
.banner .swiper-pagination-bullet {
  width: 0.06rem;
  height: 0.06rem;
  margin: 0 0.0225rem !important;
  opacity: 0.5;
  background-color: #fff;
}
.banner .swiper-pagination-bullet-active {
  background: #fff;
  width: 0.125rem;
  border-radius: 0.03rem;
  opacity: 1;
}
/* 按钮区 */
.iconlist {
  margin-bottom: 0.2rem;
}
.iconlist ul {
  display: flex;
  padding: 0 0.24rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.155rem;
}
.iconlist li {
  text-align: center;
  font-size: 0.13rem;
}
.iconlist a {
  display: block;
}
.iconlist img {
  width: 100%;
  display: block;
  width: 0.48rem;
  height: 0.5rem;
  margin: 0 auto;
  margin-bottom: 0.05rem;
}
/* 卡片区 */
.con {
  padding-bottom: 0.7rem;
}
.h2 {
  font-size: 0.18rem;
  line-height: 0.18rem;
  color: #333;
  position: relative;
  padding-left: 0.24rem;
  font-weight: bold;
  margin-bottom: 0.14rem;
}
.h2::before {
  content: '';
  width: 0.05rem;
  height: 0.12rem;
  position: absolute;
  left: 0.12rem;
  top: 50%;
  margin-top: -0.06rem;
  background: #0057FF;
  border-radius: 0.0225rem;
}
.cardarea ol {
  overflow: hidden;
  padding: 0 0.07rem;
}
.cardarea ol li {
  float: left;
  margin: 0 0.04rem;
}
.card {
  width: 1.72rem;
}
.card .img {
  position: relative;
}
.card .pic {
  border-radius: 0.1rem;
  width: 1.72rem;
  height: 1.72rem;
  background: url('../img/zhanweitu2@2x.png');
  background-size: cover;
  overflow: hidden;
}
.card .pic img {
  display: block;
  width: 100%;
}
.card .label {
  width: 0.575rem;
  height: 20px;
  position: absolute;
  left: 0.09rem;
  top: 0.1rem;
  z-index: 1;
  background-repeat: no-repeat;
}
.card .label img {
  display: block;
  width: 100%;
}
.card .info {
  padding: 0 0.075rem;
}
.card h3 {
  padding-top: 0.13rem;
  padding-bottom: 0.11rem;
  font-size: 0.16rem;
  line-height: 0.16rem;
  color: #1e1e1e;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card .num {
  font-size: 0.12rem;
  line-height: 0.12rem;
  overflow: hidden;
}
.card .num em,
.card .num span {
  float: left;
}
.card .num em {
  color: #FDB602;
}
.card .num span {
  color: #999999;
  border-left: 1px solid #999999;
  margin-left: 0.1rem;
  padding-left: 0.1rem;
}
.card .price {
  line-height: 0.5rem;
  overflow: hidden;
}
.card .price .rmb {
  float: left;
  color: #FE3647;
  font-weight: bold;
  height: 0.5rem;
}
.card .price b {
  font-size: 0.1rem;
}
.card .price em {
  font-size: 0.16rem;
}
.card .price span {
  float: right;
  font-size: 0.1rem;
  color: #999;
}
.cardtab {
  margin-bottom: 0.2rem;
}
.cardtab .swiper-slide {
  width: 0.53rem;
  border-radius: 0.13rem;
  background: #fafafa;
  font-size: 12px;
  color: #989898;
  text-align: center;
  line-height: 0.26rem;
}
.cardtab .swiper-slide.act {
  background: #CDDDFF;
  color: #0057FF;
  transition: all 0.2s;
}
/* 底部导航 */
#bar {
  position: fixed;
  width: 100%;
  height: 0.5rem;
  left: 0;
  bottom: 0;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.32);
  font-size: 0.1rem;
  text-align: center;
  background-color: #fff;
  z-index: 1;
}
#bar a {
  color: #bbb;
  display: block;
  height: 0.5rem;
  padding-top: 0.07rem;
}
#bar li {
  float: left;
  width: 25%;
}
#bar li.act em {
  color: #333333;
  font-weight: bold;
}
#bar span,
#bar em {
  display: block;
}
#bar span {
  width: 0.23rem;
  height: 0.24rem;
  margin: 0 auto;
  margin-bottom: 0.015rem;
  background-size: contain;
  background-repeat: no-repeat;
}
#bar em {
  line-height: 0.175rem;
}
.to-home span {
  background-image: url(../img/home_hui@2x.png);
}
.to-home.act span {
  background-image: url(../img/home@2x.png);
}
.to-service span {
  background-image: url(../img/service_hui@2x.png);
}
.to-service.act {
  spanbackground-image: url(../img/service@2x.png);
}
.to-order span {
  background-image: url(../img/dingdan_hui@2x.png);
}
.to-order.act {
  spanbackground-image: url(../img/dingdan@2x.png);
}
.to-me span {
  background-image: url(../img/account_hui@2x.png);
}
.to-me.act span {
  background-image: url(../img/account@2x.png);
}
