* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    max-width: 768px;
    margin: 0 auto;
    font-size: 100px;
}

body {
    font-size: .14rem;
	font-family: tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
	background: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

a {
    color:#333;
    text-decoration: none!important;
}

li {
    list-style: none;
}

em {
    font-style: normal;
}
img {
	border: 0;
	vertical-align: middle;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

p {
	word-wrap: break-word;
} 

input,textarea{
    border: 0;
    outline: none;
    -webkit-appearance: none;
}

::-webkit-input-placeholder {
    font-size: .14rem;
    line-height: .16rem;
    color:#bababa;
}

::-moz-placeholder {
    font-size: .16rem;
    line-height: .16rem;
    color:#bababa;
}

:-ms-input-placeholder {
    font-size: .16rem;
    line-height: .16rem;
    color:#bababa;
}  