body {
  padding: 0.14rem;
}
.search {
  position: relative;
  overflow: hidden;
}
.search .input {
  background-color: #f5f5f5;
  width: 3.02rem;
  height: 0.32rem;
  border-radius: 0.16rem;
  float: left;
  padding: 0.08rem 0.12rem;
  position: relative;
}
.search .input img {
  width: 0.16rem;
  margin-right: 0.02rem;
}
.search .input img,
.search .input input {
  float: left;
}
.search .input input {
  line-height: 0.16rem;
  font-size: 0.14rem;
  padding-left: 0.04rem;
  background-color: #f5f5f5;
  width: 75%;
  color: #333;
  position: absolute;
  left: 0.28rem;
  top: 0.08rem;
  height: 16px;
}
.search .input .close {
  width: 0.24rem;
  height: 0.24rem;
  background-image: url(../img/guanbi@2x.png);
  background-size: cover;
  float: right;
  position: relative;
  right: -0.02rem;
  top: -0.04rem;
}
.search a {
  float: right;
  font-size: 0.16rem;
  color: #333;
  line-height: 0.32rem;
}
.history {
  overflow: hidden;
}
.history h2 {
  line-height: 0.5rem;
  font-size: 14px;
  color: #424242;
  font-weight: bold;
}
.history li {
  float: left;
  background-color: #F4F4F4;
  border-radius: 0.15rem;
  line-height: 0.3rem;
  color: #333333;
  font-size: 0.12rem;
  padding: 0 0.15rem;
  margin-right: 0.05rem;
  margin-bottom: 0.08rem;
}
.result h2 {
  line-height: 0.5rem;
  font-size: 14px;
  color: #7d7d7d;
  font-weight: normal;
  margin-bottom: -0.12rem;
}
.result .card {
  float: none;
  width: 100%;
  overflow: hidden;
  padding-top: 0.12rem;
  padding-bottom: 0.12rem;
  border-bottom: 1px solid #ececec;
}
.result .card a {
  padding-left: 0.78rem;
  height: 0.64rem;
  position: relative;
}
.result .card .img {
  position: absolute;
  left: 0;
  top: 0;
  width: 0.64rem;
  height: 0.64rem;
}
.result .card .pic {
  border-radius: 0.03rem;
  height: 0.64rem;
}
.result .card .info {
  padding: 0;
}
.result .card h3 {
  padding-top: 0.03rem;
  padding-bottom: 0.09rem;
}
.result .card .price {
  line-height: 0.3rem;
}
